* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
p {
	word-break: break-word;
}
h1 {
	text-transform: capitalize;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}
header {
	background-color: #313234;
	height: 80px;
}
header h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
.song p {
	font-family: 'Lobster', sans-serif;
	font-size: 20px;
}